@import url("fonts/fonts.css");
@import url("bottom.css");
@import url("pagination.css");

* {
    /* Avoid fat fonts and custom browser margin values */
    font-family: "LatoLight";
    font-weight: lighter;
    margin: 0;
    padding: 0;
    color: #56565b;
}

html {
    background-color: #56565b;
}

h1, h2 {
    text-transform: uppercase;
}

.clear {
    clear: both;
}
.slides_container {
    padding-top: 40px;
    padding-bottom: 10px;
}
.slides_container div {
    width: 100%;
    height: 187px;
}

#middle .content ul {
    list-style-position: inside;
    margin-bottom: 20px;
}

ul.pagination {
    top: -220px;
}

/* mainnnnnnnnnnnn */
#middle .content {
    border-top: 1px solid #eeeeef;
}

#main {
    background-color: white;
    background-image: url(img/interna_pixel_topo.png);
    background-repeat: repeat-x;
    padding-bottom: 60px;
}

#main h1 {
    padding-top: 41px;
    padding-bottom: 41px;
    letter-spacing: -1px;
    color: #ccc;
}

#main h1 strong {
    font-family: "LatoBlack";
}


#main h2 {
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: -1px;
    color: #ccc;
}

#main p {
    padding-bottom: 10px;
    line-height: 27px;
}

#main a {
    font-family: "LatoBlack";
    text-decoration: none;
}

#main a:hover {
    text-decoration: underline;
}

.content {
    margin: auto;
    width: 876px;
}

pre {
    font-family: monospace;
    margin-top: 10px;
    margin-bottom: 10px;
}



