
/* bottom stuff */

#bottom {
    background-image: url("img/pixel_cinzaescuro.png");
    background-repeat: repeat-x;
}

#bottom_menu {
    padding-top: 32px;
    margin: auto;
}

#bottom_menu th {
    font-family: "LatoBlack";
    font-size: 16px;
    text-transform: uppercase;
    color: #98989b;
    border-left: 1px solid #69696F;
    text-align: left;
    margin: 0;
    padding: 0px 16px 10px 16px;
}

#bottom_menu th.firstcol {
    border-left: none;
}

#bottom_menu ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#bottom_menu li {
    font-family: "LatoLight";
    font-size: 16px;
    color: #98989b;
    padding-left: 1px;
    margin: 0px 16px 4px 16px;
}

#bottom_menu li a {
    font-family: "LatoLight";
    color: #98989b;
    text-decoration: none;
}

#bottom_menu li a:hover {
    color: #eeeeef;
    text-decoration: underline;
}

#bottom_menu th a {
    font-family: "LatoBlack";
    font-size: 16px;
    color: #98989b;
    text-decoration: none;
}

#bottom_menu th a:hover {
    text-decoration: underline;
}

#bottom .beloponto {
    font-family: "LatoBlack";
    color: #98989b;
    padding-right: 4px;
}

#logos {
    padding-left: 32px;
    padding-bottom: 32px;
    float: left;
}

#logo_indt, #logo_qt {
    margin-top: 28px;
    padding-right: 10px;
}

#logo_qt {
    padding-left: 10px;
    margin-top: 32px;
}

.itsme {
    color: #eeeeef;
    font-family: "LatoBlack";
}
