@import url("fonts/fonts.css");
@import url("bottom.css");
@import url("pagination.css");

* {
    /* Avoid fat fonts and custom browser margin values */
    font-weight: lighter;
    margin: 0;
    padding: 0;
    color: #56565b;
}

html {
    background-color: #56565b;
}

h1, h2 {
    text-transform: uppercase;
}

h1 {
    letter-spacing: -4px;
}

#top {
    background-image: url("img/pixel_branco.png");
    background-repeat: repeat-x;
    height: 928px;
}

#welcome {
    font-family: "LatoHairline";
    font-size: 71px;
    line-height: 55px;

    width: 482px;
    height: 120px;
    overflow: hidden;
    text-align: justify;
    margin-right: 70px;
    margin-top: 140px;
    float: right;
}

#welcome:first-line {
    font-size: 48px;
}

#welcome strong {
    font-family: "LatoLight";
}

#browser {
    font-family: "LatoHairline";
    font-size: 71px;
    line-height: 55px;
    text-align: right;
    position: relative;
    top: -698px;

    margin: auto;
    width: 971px;
}

#screen1 {
    background-image: url("img/img_highlight_01.png");
}
#screen2 {
    background-image: url("img/img_highlight_02.png");
}
#screen3 {
    background-image: url("img/img_highlight_03.png");
}

/* slides */
.slides_container {
    clear: both;
}

.slides_container div {
    height: 668px;
    width: 1111px;
    background-repeat: no-repeat;
    background-position: left bottom;
}

#slides .slides_container h1 {
    font-family: "LatoBlack";
    text-align: right;
    font-size: 80px;
    line-height: 74px;
    margin-right: 70px;
    margin-top: -5px;
    margin-bottom: 100px;
}

#slides p {
    font-family: "LatoLight";
    font-size: 21px;
    width: 300px;
    float: right;
    margin-right: 70px;
    line-height: 30px;
}

#slides p strong {
    font-family: "LatoBlack";
}

#slides p a {
    display: block;
    text-align: right;
    font-family: "LatoBlack";
    text-transform: uppercase;
    text-decoration: none;
}

#slides p a:hover {
    text-decoration: underline;
}

.content {
    margin: auto;
    width: 1111px;
}

/* pagination */

ul.pagination {
    top: -870px;
}

.clear {
    clear: both;
}
